table {
    border-collapse: collapse;
}

table,td,th{
	border: 4px solid green;
}

th{
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #2F0B0C;
    color: #EC2A30;
}
tr:nth-child(odd) {
   background-color: #152D65;
   color: #C86F2B;
}


.redirect {
	background-color: white;
    border: solid;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}